[Unit]
Description=Tägliches borgmatic Backup

[Timer]
OnCalendar=*-*-* 09:00:00
Persistent=true
RandomizedDelaySec=600

[Install]
WantedBy=timers.target
